
<!DOCTYPE html>
{% extends 'base.html' %}

<!-- page name here (SEO) -->
{% block title %}Contact us | iLearn{% endblock %}

<!-- page meta description here (SEO) -->
{% block meta_description %}{% endblock %}

{% block meta_robots %}index, follow{% endblock %}

{% block content %}
<div class="wrapper bg_top up">
	<div class="top_overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12"> 
					<div class="title125">
						<div class="titleleft">
							<div class="path">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index.html">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<div class="title126">
						<h2>Contact Us</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="row justify-content-lg-center justify-content-md-center">
				<div class="col-lg-6 col-md-8">
					<div class="sign_form checkout_bg">
						<h2>Contact Us</h2>
						<p>Got a question? Send us a message!</p>
						<form>
							
                             
    <div class="col-md-12 mb-3">
      <label for="validationServer01">Full Name</label>
      <input type="text" class="form-control " id="validationServer01" required>
    </div>
 
    
    <div class="col-md-12 mb-3">
      <label for="validationServer01">E-mail</label>
      <input type="text" class="form-control " id="validationServer01" required>
    </div>

    
    <div class="col-md-12 mb-3">
      <label for="validationServer01">Phone Number</label>
      <input type="text" class="form-control " id="validationServer01" required>
    </div>

							
	<div class="mb-3">
    <label for="validationTextarea">Your message</label>
    <textarea class="form-control" id="validationTextarea" placeholder="Write your message" required></textarea>
    <div class="invalid-feedback">
     Hi, ....
    </div>
  </div>
									
								<button class="login-btn" type="submit">Send message</button>
						</form>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="contact_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11305.575958439062!2d-1.2549437096316665!3d51.754693292514034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c6a9ef8c485b%3A0xd2ff1883a001afed!2sUniversity%20of%20Oxford!5e0!3m2!1sen!2suk!4v1599158750745!5m2!1sen!2suk" width="650" height="510" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe>
                </div>
					</div>
				<div class="col-lg-4">
					<div class="contact_info">
						<div class="checkout_title">
							<h4>Contact Information</h4>
							<img alt="">
								</div>
							<ul class="contact_list_info">
								<li>
									<div class="txt_cntct">
										<span class="cntct_895"><i class="uil uil-location-point"></i>Main Address :</span>
										<p> 55 Queen St, Oxford, OX1 1TR, United Kingdom </p>
									</div>
								</li>
								<li>
									<div class="txt_cntct">
										<span class="cntct_895"><i class="uil uil-envelope"></i>Email Address :</span>
										<p>contact@ilearn.io</p>
									</div>
								</li>
								<li>
									<div class="txt_cntct">
										<span class="cntct_895"><i class="uil uil-mobile-android-alt"></i>Phone Number :</span>
										<p>+487008070700</p>
									</div>
								</li>
							</ul>
							<div class="edututs_links_social">
								<ul class="tutor_social_links">
									<li><a href="https://www.facebook.com/" class="fb"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://twitter.com/explore" class="tw"><i class="fab fa-twitter"></i></a></li>
									<li><a href="https://www.linkedin.com/" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
									<li><a href="https://www.youtube.com/" class="yu"><i class="fab fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
