{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Start of banner section 
		============================================= -->
		<section id="banner-area" class="banner-area-section home-2">
			<div class="container">
				<div class="row">
					<div class="banner-area-content">
						<div class="banner-area-head">
							<h1 class="pb30">iLearn</h1>
							<div  class="banner-text pb40">
								<span>Lorem ipsum dolor sit amet consectetur adip elit sed do eiusmod tempor</span>
							</div>
							
							<div class="banner-mock-up home-1 zooming">
								<img src="assets/img/mock-up/home.png" alt="img">
							</div>

						</div><!-- /banner-area-head -->
					</div><!-- /banner-area-content -->
				</div><!-- /row -->
			</div><!-- /.container -->
		</section>
	<!-- End of banner section  
		============================================= -->

         <!-- Start of some extra features  
		============================================= -->
    <section id="extra-features" class="extra-features-section">
        <div class="container">
            <div class="row section-content">
                <div class="section-title text-center pb50">
                    <span class="title-text pink text-uppercase">YOU WILL GET</span>
                    <h1 class="title deep-black pb40">Some Extra Featuresn</h1>
                </div>
                <!-- //section-title -->
                <div class="extra-features-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="extra-left">
                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-left">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-paint-bucket"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-right pb10">
                                                <h3 class="deep-black">Clean Design</h3>
                                            </div>
                                            <div class="features-text-dec text-right">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->

                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-left">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-user"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-right pb10">
                                                <h3 class="deep-black">User Friendly</h3>
                                            </div>
                                            <div class="features-text-dec text-right">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->

                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-left">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-desktop"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-right pb10">
                                                <h3 class="deep-black">Fully Responsive</h3>
                                            </div>
                                            <div class="features-text-dec text-right">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->
                            </div>
                            <!-- /extra-left -->
                        </div>
                        <!-- /col-sm-3 -->

                        <div class="col-sm-4">
                            <div class="extra-pic text-center">
                                <img src="assets/img/mock-up/extra.png" alt="img">
                            </div>
                        </div>
                        <!-- /col-sm-6 -->

                        <div class="col-md-4 col-sm-6">
                            <div class="extra-right">
                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-right">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-money"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-left pb10">
                                                <h3 class="deep-black">Clean Design</h3>
                                            </div>
                                            <div class="features-text-dec text-left">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->

                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-right">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-eye"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-left pb10">
                                                <h3 class="deep-black">Retina Ready</h3>
                                            </div>
                                            <div class="features-text-dec text-left">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->

                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-right">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-comment-alt"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-left pb10">
                                                <h3 class="deep-black">24/7 Support</h3>
                                            </div>
                                            <div class="features-text-dec text-left">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->
                            </div>
                            <!-- /extra-left -->
                        </div>
                        <!-- /col-sm-3 -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /extra-features-content -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- End of some extra features   
		============================================= -->

{% endblock %}