{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Start of banner section 
		============================================= -->
		<section id="banner-area" class="banner-area-section home-2">
			<div class="container">
				<div class="row">
					<div class="banner-area-content">
						<div class="banner-area-head">
							<h1 class="pb30">iLearn</h1>
							<div  class="banner-text pb40">
								<span>Lorem ipsum dolor sit amet consectetur adip elit sed do eiusmod tempor</span>
							</div>
							
							<div class="banner-mock-up home-1 zooming">
								<img src="assets/img/mock-up/home.png" alt="img">
							</div>

						</div><!-- /banner-area-head -->
					</div><!-- /banner-area-content -->
				</div><!-- /row -->
			</div><!-- /.container -->
		</section>
	<!-- End of banner section  
		============================================= -->

         <!-- Start of some extra features  
		============================================= -->
    <section id="extra-features" class="extra-features-section">
        <div class="container">
            <div class="row section-content">
                <div class="section-title text-center pb50">
                    <span class="title-text pink text-uppercase">YOU WILL GET</span>
                    <h1 class="title deep-black pb40">Some Extra Featuresn</h1>
                </div>
                <!-- //section-title -->
                <div class="extra-features-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="extra-left">
                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-left">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-paint-bucket"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-right pb10">
                                                <h3 class="deep-black">Clean Design</h3>
                                            </div>
                                            <div class="features-text-dec text-right">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->

                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-left">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-user"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-right pb10">
                                                <h3 class="deep-black">User Friendly</h3>
                                            </div>
                                            <div class="features-text-dec text-right">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->

                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-left">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-desktop"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-right pb10">
                                                <h3 class="deep-black">Fully Responsive</h3>
                                            </div>
                                            <div class="features-text-dec text-right">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->
                            </div>
                            <!-- /extra-left -->
                        </div>
                        <!-- /col-sm-3 -->

                        <div class="col-sm-4">
                            <div class="extra-pic text-center">
                                <img src="assets/img/mock-up/extra.png" alt="img">
                            </div>
                        </div>
                        <!-- /col-sm-6 -->

                        <div class="col-md-4 col-sm-6">
                            <div class="extra-right">
                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-right">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-money"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-left pb10">
                                                <h3 class="deep-black">Clean Design</h3>
                                            </div>
                                            <div class="features-text-dec text-left">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->

                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-right">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-eye"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-left pb10">
                                                <h3 class="deep-black">Retina Ready</h3>
                                            </div>
                                            <div class="features-text-dec text-left">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->

                                <div class="extra-left-content">
                                    <div class="extra-icon-text text-right">
                                        <div class="features-icon text-center">
                                            <i class="orange-gred ti-comment-alt"></i>
                                        </div>
                                        <div class="features-text pt25">
                                            <div class="features-text-title text-left pb10">
                                                <h3 class="deep-black">24/7 Support</h3>
                                            </div>
                                            <div class="features-text-dec text-left">
                                                <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // extra-left-content -->
                            </div>
                            <!-- /extra-left -->
                        </div>
                        <!-- /col-sm-3 -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /extra-features-content -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- End of some extra features   
		============================================= -->

        
    <!-- Start of contact section        
		============================================= -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row section-content">
                <div class="section-title text-center pb50">
                    <span class="title-text pink text-uppercase">GET IN TOUCH</span>
                    <h1 class="title deep-black pb40">Drop Us a Message</h1>
                </div>
                <!-- //section-title -->


                <div class="comment-form">
                    <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
                        <div class="contact-info">
                            <input class="name  mr30" name="name" type="text" placeholder="Name*">
                        </div>
                        <div class="contact-info">
                            <input class="email" name="email" type="text" placeholder="Email*">
                        </div>
                        <div class="contact-info-1">
                            <input class="name" name="name" type="text" placeholder="Subject">
                        </div>
                        <div class="contact-info">
                            <textarea id="message" name="message" placeholder="Message" rows="7" cols="30"></textarea>
                        </div>
                        <div class="submit-btn text-center mt20">
                            <button type="submit" value="Submit">Submit Now</button>
                        </div>
                    </form>
                </div>

            </div>
            <!--  //row-->
        </div>
        <!--  //container -->
    </section>
    <!-- End of contact section        
		============================================= -->

    <!-- Start of footer section        
		============================================= -->
    <footer>
        <section id="footer-area" class="footer-area-section">
            <div class="container">
                <div class="row section-content">
                    <div class="footer-area-content">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-content">
                                    <span class="right deep-black">2020 Patrycja.io. All right reserved</span>
                                    <div class="footer-address mt20">
                                        <span>457 Shantibag, Green Road 
												Philadelphia, PH USA 17512
												+1 437 800 2078
											</span>
                                    </div>
                                    <div class="footer-social ul-li mt20">
                                        <ul class="footer-social-list">
                                            <li><a href="#"><span class="ti-facebook"></span></a></li>
                                            <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                            <li><a href="#"><span class="ti-facebook"></span></a></li>
                                            <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                           
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- //col-sm-4 -->

                            <div class="col-md-3 col-sm-6">
                                <div class="footer-service-list">
                                    <div class="footer-widget pb20">
                                        <h2 class="widgettile deep-black">Information</h2>
                                    </div>
                                    <div class="service-list ul-li ul-li-block">
                                        <ul class="service-list-item">
                                            <li><a href="#">Terms & Condision</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Download</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- //1st service -->
                            </div>


                            <div class="col-md-3 col-sm-6">
                                <div class="footer-service-list">
                                    <div class="footer-widget pb20">
                                        <h2 class="widgettile deep-black">Support</h2>
                                    </div>
                                    <div class="service-list ul-li ul-li-block">
                                        <ul class="service-list-item">
                                            <li><a href="#">FAQ</a></li>
                                            <li><a href="#">Help</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- //col-sm-4 -->

                            <div class="col-md-3 col-sm-6">
                                <div class="footer-widget pb20">
                                    <h2 class="widgettile deep-black">Subscribe</h2>
                                </div>
                                <span>Don’t miss out our every updates and news!</span>
                                <div class="newsletter">
                                    <form action="#" method="get">
                                        <div class="newsletter-email">
                                            <input type="email" class="">
                                            <button type="submit" value="Submit"><span class="orange-gred ti-arrow-right"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--  //row -->
                </div>
                <!--  //footer-area-content -->
            </div>
            <!--  //container -->
        </section>
    </footer>
    <!-- End of footer section        
		============================================= -->

{% endblock %}