<!DOCTYPE html>
{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="wrapper bg_top up">
  <div class="top_overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title125">
            <div class="titleleft">
              <div class="path">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      My Profile
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
          <div class="title126">
            <h2>My Profile</h2>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<div>
			<div class="container">			
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="checkout_bg">
							<div class="checkout_title">
								<h4>Customer details</h4>
							</div>
							<form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
								{% csrf_token %} {{ form|crispy }}
								<button class="checkout_btn_stripe float-right">Update Information</button>
							</form>
						</div>
                        <div class="checkout_bg">
			                <div class="checkout_title">
                               <h4>Order History </h4>
                           </div>

                         <div class="order-history table-responsive">
						<table class="table table-sm table-borderless">
							<thead>
								<tr>
									<th> <p>Order Number</p></th>
								<th> <p>Date </p></th>
									<th> <p>Order Total </p></th>
								</tr>
							</thead>
							<tbody>
								{% for order in orders %}
								<tr>
									<td>
										<a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
											{{ order.order_number|truncatechars:6 }}
										</a>
									</td>
									<td>{{ order.date }}</td>
									
									<td>£{{ order.total }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}