<!DOCTYPE html>

{% extends 'base.html' %} {% load static %}

<!-- listing name here (SEO) -->
{% block title %}Cart | iLearn {% endblock %}

<!-- listing meta description here (SEO) -->
{% block meta_description %}{% endblock %} {% block meta_robots %}index,
follow{% endblock %} {% block content %}

<div class="wrapper bg_top up">
  <div class="top_overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title125">
            <div class="titleleft">
              <div class="path">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Checkout
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>

          <div class="title126">
            <h2>Checkout</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div>
			<div class="container">			
				<div class="row">
					<div class="col-lg-8">
						<div class="checkout_bg">
							<div class="checkout_title">
								<h4>Billing Details</h4>
							</div>
                           <form action="{% url 'checkout' %}" method="POST" id="payment-form">
			{% csrf_token %}
			<fieldset class="rounded px-3 mb-5">
				<legend class="fieldset-label  text-black px-2 w-auto">
					<p><em>Details</em></p>
				</legend>
				{{ order_form.full_name | as_crispy_field }}
				{{ order_form.email | as_crispy_field }}
			</fieldset>
			<fieldset class="rounded px-3 mb-5">
				<legend class="fieldset-label text-black px-2 w-auto">
					<p><em>Billing Info</em></p>
				</legend>
				{{ order_form.phone_number | as_crispy_field }}
				{{order_form.country | as_crispy_field }}
				{{ order_form.postcode | as_crispy_field }}
				{{ order_form.town_or_city | as_crispy_field }}
				{{ order_form.street_address1 | as_crispy_field }}
				{{ order_form.street_address2 | as_crispy_field }}
				{{ order_form.county | as_crispy_field }}
				<div class="form-check form-check-inline float-right mr-0">
					{% if user.is_authenticated %}
					<label class="form-check-label" for="id-save-info">
		              Save this details information to my profile </label>
					<input
		                class="form-check-input ml-2 mr-0"
		                type="checkbox"
		                id="id-save-info"
		                name="save-info"
		                checked/>
		              {% else %}
                      
					<label class="form-check-label" for="id-save-info">You are making this purchase as a guest
		                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a>
		                or
		                <a class="text-info" href="{% url 'account_login' %}">Login</a>
		                to save this information
		              </label>
					{% endif %}
				</div>
			</fieldset>
			<fieldset class="px-3">
				<legend class="fieldset-label small text-black px-2 w-auto">
					Payment
				</legend>
				<!-- A Stripe card element  -->
				<div class="mb-3" id="card-element"></div>
				<!-- Used to display form errors -->
				<div class="mb-3 text-danger" id="card-errors" role="alert"></div>
				<input
		              type="hidden"
		              value="{{ client_secret }}"
		              name="client_secret"
		            />
		          </fieldset>
                  <p class=" text-right mt-5 mb-2 small text-danger my-0">
						<span class="icon">
		                <i class="fas fa-exclamation-circle"></i>
		              </span>
						<span>Your card will be charged
		                <strong>£{{ total|floatformat:2 }}</strong></span>
					</p>
		
				<div class="submit-button text-right mt-5 mb-2">
					<a href="{% url 'basket' %}" class="btn btn-outline-black rounded-0">
						<span class="icon">
		                <i class="fas fa-chevron-left"></i>
		              </span>
						<span class="font-weight-bold pt-3">Adjust Basket</span>
					</a>
					<button id="submit-button" class="checkout_btn_stripe">
                      <i class="uil uil-lock-alt"></i>
		              <span class="font-weight-bold">Complete Order</span>
		            </button>
                    <br>
                    <hr>
				</div>
		</form>
		
        </div>
      </div>

	<div class="col-lg-4">
		<div class="checkout_bg checkout_bg_right">
			<div class="checkout_title">
				<h4>Order Summary {{ course_count }}</h4>
			</div>
	
				<div class="order_dt_section">
					{% for item in basket_items %}
					<div class="order_title">
                        <h4><a href="{% url 'course_description' item.id %}" class="crse14s title900 pt-2">{{ item.course.name }}</a></h4>
                         <a href="{% url 'courses' %}?category={{ item.course.category.name }}" class="text-danger">{{ item.course.category.friendly_name }}</a>
						<div class="order_price">£ {{ item.course.price }}</div>
					</div>
					{% endfor %}
					<div class="order_title">
						<h2>Total</h2>
						<div class="order_price_">£{{ total | floatformat:2 }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </div>
  </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }} 
{{ client_secret|json_script:"id_client_secret" }}

 {% endblock %}
