<<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
            {{ message }}
            <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="logo-font bg-white text-black py-1">Your basket ({{ course_count }})</p>
            <div class="basket-notification-wrapper">
                {% for item in basket_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.course.image.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.course.name }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1 text-black">
                        Total
                        <span class="float-right">£{{ total|floatformat:2 }}</span>
                    </p></strong>
                    <a href="{% url 'view_basket' %}" class="btn btn-black btn-block rounded-0">
                        <span class="text-uppercase">Go To Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>