/* --- Billboard ---*/
.text-white {
    color: #fff!important;
}

@media (min-width: 768px)
.p-md-5 {
    padding: 3rem!important;
}
.p-4 {
    padding: 1.5rem!important;
}
.rounded {
    border-radius: .25rem!important;
}
.bg-dark {
    background-color: #343a40!important;
}
@media (min-width: 576px)
.jumbotron {
    padding: 4rem 2rem;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}