<!DOCTYPE html>
{% extends "account/base.html" %}
{% load i18n %} 


{% block head_title %}
{% trans "Signup" %}
{% endblock %}

{% block inner_content %}
<div class="sign_in_up_bg">
	<div class="container">
		<div class="row justify-content-lg-center justify-content-md-center">
			<div class="col-lg-12">
				
			</div>

			<div class="col-lg-6 col-md-8">

				<div class="sign_form">
					<h2>{% trans "Sign Up" %}</h2>
					<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

					<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
						{% csrf_token %}
						{{ form|crispy }}
						{% if redirect_field_value %}
						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                        <button type="submit" class="login-btn">{% trans "Sign Up" %}</button>
                        <p class="mb-0 mt-30 hvsng145">
						Already have an account? Then please
						<a href="{% url 'account_login' %}">Log in</a>
					</p>
					</form>
					<hr>
					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}