{% load static %}
<!doctype html>
<html lang="en">
<head>

{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}

{% block extrameta %}
{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="images/fav.png">
{% endblock %}

{% block corecss %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700,500">
<link rel="stylesheet" href="vendor/unicons-2.0.1/css/unicons.css">
<link href="css/vertical-responsive-menu.min.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
{% endblock %}

{% block extracss %}
{% endblock %}


{% block corejs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block extrajs %}
{% endblock %}

    <title>iLearn {% block extratitle %}{% endblock %}</title>
  </head>

  <body>

   <header class="header clearfix">
        <div class="main_logo" id="logo">
            <a href="{% url 'home' %}"><img src="images/logo.svg" alt=""></a>
        </div>
    <form method="GET" action="{% url 'courses' %}">
        <div class="search120">
            <div class="ui search">
                <div class="ui left icon input swdh10">
                    <input class="prompt srch10" type="text" name="q" placeholder="Search for Tuts Videos, Tutors, Tests and more..">
                    <i class="uil uil-search-alt icon icon1"></i>
                </div>
            </div>
        </div>
     </form>

        <div class="header_right">
            <ul>
                <li>
                    <a href="create_new_course.html" class="upload_btn">My account</a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                </li>
                  <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobileTopHeader.html' %}
                {% include 'includes/mainNav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">Free delivery on orders over ${{ free_shipping_threshold }}!</h4>                
            </div>            
        </div>
    </header>
 
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    
  </body>
</html>




  

