{% load static %}

<!-- Header Start -->
	<header class="header clearfix">
		<div class="main_logo" id="logo">
		</div>
        <div class="top-category">
			<div class="ui compact menu cate-dpdwn">
				<div class="ui simple dropdown item">
					<a href="#" class="option_links p-0" title="categories"><i class="uil uil-apps"></i></a>
					<div class="menu dropdown_category5">
						<a href="#" class="item channel_item">Development</a>
						<a href="#" class="item channel_item">Business</a>
						<a href="#" class="item channel_item">Finance & Accounting</a>
						<a href="#" class="item channel_item">IT & Software</a>
					</div>
				</div>
			</div>
		</div>
        <form method="GET" action="{% url 'courses' %}">
		<div class="search120">
			<div class="ui search">
			  <div class="ui left icon input swdh10">
				<input class="prompt srch10" type="text" placeholder="Search for Tuts Videos, Tutors, Tests and more..">
				<i class="uil uil-search-alt icon icon1"></i>
			  </div>
			</div>
		</div>
        </form>
		<div class="header_right">
			<ul>
				<li>
					<a href="create_new_course.html" class="upload_btn">My Account</a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
				</li>
				<li>
					<a href="{% url 'view_basket' %}" class="{% if grand_total %}text-warning font-weight-bold{% else %}text-black{% endif %} nav-link">
                    <i class="uil uil-shopping-cart-alt"></i>
                    <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                    </p>
                    </a>
				</li>
               
			</ul>
		</div>
	</header>