<!DOCTYPE html>
{% load static %}

<!-- Header Start -->
	<header class="header clearfix">
		<div class="main_logo" id="logo">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>iLearn</strong></h2>
         </a>
		</div>
        
        <div class="top-category">
			<div class="compact cate-dpdwn">
				<div class="ui simple dropdown item">
					<a href="#" class="option_links p-0" title="categories"><i class="uil uil-apps"></i></a>
					<div class="menu dropdown_category5">
						<a href="{% url 'courses' %}?category=html" class="item channel_item">HTML & CSS</a>
						<a href="{% url 'courses' %}?category=javascript" class="item channel_item">Javascript & Frameworks</a>
						<a href="{% url 'courses' %}?category=php" class="item channel_item">PHP & Laravel</a>
						<a href="{% url 'courses' %}?category=python" class="item channel_item">Python & Frameworks</a>
					</div>
				</div>
			</div>
		</div>
        <form method="GET" action="{% url 'courses' %}">
		<div class="search120">
			<div class="ui search">
			  <div class="ui left icon input swdh10">
				<input class="prompt srch10" type="text" name="q" placeholder="Search ..">
				<i class="uil uil-search-alt icon icon1"></i>
			  </div>
			</div>
		</div>
        </form>
		<div class="header_right">
			<ul>
                  

				<li>
					<a href="{% url 'view_basket' %}" class="{% if total %}text-warning font-weight-bold{% else %}text-black{% endif %} nav-link">
                    <i class="uil uil-shopping-cart"></i>
                    <strong class="my-0">
                                    {% if total %}
                                        ${{ total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                    </strong>
                    </a>
				</li>
                <li>	
					<a href="" class="upload_btn">My Account</a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
				</li>
                 <li>
            <div class="night_mode_switch__btn">
                                        <a href="#" id="night-mode" class="btn-night-mode">
                                          Night mode
                                            <span class="btn-night-mode-switch">
                                                <span class="uk-switch-button"></span>
                                            </span>
                                        </a>
                                    </div>
                                    	</li>
               
			</ul>
		</div>
	</header>