<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}


<!-- listing name here (SEO) -->
{% block title %}My Account| iLearn {% endblock %}

<!-- listing meta description here (SEO) -->
{% block meta_description %}{% endblock %}

{% block meta_robots %}index, follow{% endblock %}

{% block content %}

<div class="wrapper _bg4586 _new89">
	<div class="_215b15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title125">
						<div class="titleleft">
							<div class="ttl121">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="{}">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">My account</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<div class="title126">
						<h2>Checkout</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	""

	{% endblock %}

	{% block postloadjs %}

	{{ block.super }}
	{{ stripe_public_key|json_script:"id_stripe_public_key" }}
	{{ client_secret|json_script:"id_client_secret" }}
     <script src="{% static 'checkout/js/stripe.js' %}"></script>

	{% endblock %}